[Desktop Entry]
Name=shadPS4 (on {{ dg_box_name }})
Exec=/usr/bin/distrobox-enter -n {{ dg_box_name }} -- {{ dg_gpu_env }} shadps4
Terminal=false
Type=Application
Icon=shadps4
Comment=PlayStation 4 emulator
Categories=Game;Emulator;
StartupWMClass=shadPS4;
